$shadowTitle: 0 -20px 0 0px #f67e90 inset;
A,
ABBR,
ACRONYM,
ADDRESS,
APPLET,
ARTICLE,
ASIDE,
AUDIO,
B,
BIG,
BLOCKQUOTE,
BODY,
CANVAS,
CAPTION,
CENTER,
CITE,
CODE,
DD,
DEL,
DETAILS,
DFN,
DIV,
DL,
DT,
EM,
EMBED,
FIELDSET,
FIGCAPTION,
FIGURE,
FOOTER,
FORM,
H1,
H2,
H3,
H4,
H5,
H6,
HEADER,
HGROUP,
HTML,
I,
IFRAME,
IMG,
INS,
KBD,
LABEL,
LEGEND,
LI,
MARK,
MENU,
NAV,
OBJECT,
OL,
OUTPUT,
P,
PRE,
Q,
RUBY,
S,
SAMP,
SECTION,
SMALL,
SPAN,
STRIKE,
STRONG,
SUB,
SUMMARY,
SUP,
TABLE,
TBODY,
TD,
TFOOT,
TH,
THEAD,
TIME,
TR,
TT,
U,
UL,
VAR,
VIDEO {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
ul,li{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.global_wrapper {
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.mbox{
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header{
    padding-top: 40px;
    min-height: 830px;
    background: url(../img/bg.jpg) no-repeat;
    .mbox{
        width: 100%;
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        header{
            display: flex;
            align-items: center;
        }
    }
    &_logo{
        width: 290px;
        display: inline-block;
        text-align: left;
        line-height: 48px;
        font-size: 40px;
        font-family: 'Futura PT Book';
        letter-spacing: 0;
        font-weight: 300;
        color: #929AFA;
        opacity: 1;
        color: #fff;
        &_custom{
            opacity: 0.5;
        }
    }
    &_menu{
        margin-left: 145px;
        display: inline-block;
        .menu-item{
            display: inline;
            margin-right: 50px;
        }
        .menu-item:last-of-type{
            margin-right: 0;
        }
        .menu{
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            font-family: 'Montserrat';
            font-weight: 400;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
        }
    }
    &_btn{
        display: inline-block;
        margin-left: auto;
        width: 177px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #FFFFFF;
        border-radius: 8px;
        opacity: 1;
        a{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
        }
    }
    .header-content{
        position: relative;
        .section-title{
            margin-top: 150px;
            *{
                max-width: 800px;
                text-align: left;
                font-size: 56px;
                line-height: 68px;
                font-family: 'Montserrat';
                font-weight: 900;
                letter-spacing: 0;
                color: #FFFFFF;
                opacity: 1;
            }
            margin-bottom: 50px;
        }
        .text{
            text-align: left;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 24px;
            line-height: 36px ;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
            max-width: 580px;
            margin-bottom: 50px;
        }
        .top-btn{
            width: 202px;
            height: 60px;
            background: #FF4D29 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0;
                color: #FFFFFF;
                opacity: 1;
            }
        }
    }
    .top-image{
        width: 48%;
        min-width: 640px;
        height: 679px;
        position: absolute;
        right: 0;
        top: 165px;
    }
}

//end header styles

//begin info section

.info{
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    &_image{
        margin-left: 170px;
        width: 750px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_text{
        margin-left: 40px;
        &_title{
            margin-top: 90px;
        }
        &_title > *{
            width: 615px;
            text-align: left;
            font-size: 45px;
            line-height: 55px;
            font-family: 'Montserrat';
            font-weight: 900;
            letter-spacing: 0;
            color: #3D466E;
            opacity: 1;
            span{
                display: inline-block;
                box-shadow: $shadowTitle;
            }
        }
        &_p{
            margin-top: 30px;
            width: 615px;
            text-align: left;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0;
            color: #3D466E;
            strong{
                font-weight: 700;
            }
        }
        &_btn{
            margin-top: 30px;
            width: 322px;
            height: 50px;
            background: #3A46D8 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0;
                color: #FFFFFF;
                opacity: 1;
            }
            a img{
                margin-left: 10px;
            }
        }
    }
}
.reverse{
    flex-direction: row-reverse;
    .info_image{
        margin-left: 0;
        margin-right: 95px;
    }
    .info_text{
        margin-left: 0;
        margin-right: 110px;
    }
}

//end section flex

//begin section platform

.platform{
    background: #002B85 0% 0% no-repeat padding-box;
    padding: 70px 0;
    .info_text_title > *{
        width: 715px;
        color: #fff;
    }
    .info_text{
        margin-right: 0;
    }
    .info_text_p{
        color: #fff;
    }
}

//end section platform

//begin help section

.help{
    background: url(../img/bghelp.png) no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 190px;
    &_content{
        margin-left: auto;
        margin-right: auto;
        width: 1097px;
        text-align: center;
        &_title > *{
            font-family: 'Montserrat' ;
            font-weight: 900;
            font-size: 45px;
            line-height: 55px;
            letter-spacing: 0;
            color: #FFFFFF;
        }
        &_btn{
            width: 202px;
            height: 60px;
            background: #FF4D29 0% 0% no-repeat padding-box;
            border-radius: 8px;
            opacity: 1;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0;
                color: #FFFFFF;
            }
        }
    }
}

//end platform section

//begin footer styles

.footer{
    width: 100%;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 45px;
    display: flex;
    align-items: flex-end;
    .footer_logo{
        width: 270px;
        display: inline-block;
        a{
            display: flex;
        }
        img{
            margin-bottom: -5px;
        }
    }
    .footer_menu{
        display: inline-block;
        .menu{
            display: flex;
            width: 570px;
            justify-content: space-around;
        }
        .menu-item{
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0;
            color: #3D466E;
        }
    }
    .copyright{
        display: inline-block;
        margin-left: auto;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0;
        color: #3D466E;
    }
}

//responsive

@media screen and (max-width: 1366px){
    .header{
        min-height: 675px;
        .header-content{
            .section-title{
                margin-bottom: 40px;
                margin-top: 90px;
            }
            .section-title > *{
                max-width: 630px;
                font-size: 46px;
                line-height: 57px;
            }
            .text{
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 1280px){
    .header{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-content{
        max-width: 45%;
    }
}

@media screen and (max-width: 1024px){
    .header{
        padding-top: 20px;
        min-height: 560px;
        .header_menu{
            margin-left: 75px;
        }
        .header-content{
            z-index: 2;
            .section-title > *{
            font-size: 33px;
            line-height: 44px;
            }
            .section-title{
                margin-top: 45px;
                margin-bottom: 20px;
            }
            .text{
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 25px;
            }
            .top-btn{
                width: 150px;
                height: 45px;
                border-radius: 6px;
                a{
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        .top-image{
            top: 110px;
            min-width: 560px;
            height: 500px;
        }
    }
}

@media screen and (max-width: 992px){
    .header{
        .header_menu{
            margin-left: 0;
        }
        .header_btn{
            margin-left: 0;
        }
        header{
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 768px){
    .header{
        min-height: auto;
        .header_logo{
            width: 250px;
            font-size: 0;
            line-height: 0;
            a{
                display: inline-block;
            }
        }
        .header_menu{
            display: none;
        }
        .header_btn{
            display: none;
        }
        .header-content{
            max-width: 100%;
            .section-title{
                margin-top: 20px;
            }
        }
        .top-image{
            position: relative;
            left: 0;
            top: 0;
            margin-top: 20px;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 480px){
    .header{
        .header_logo{
            width: 190px;
        }
        .header-content{
            .section-title{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .section-title > *{
                font-size: 20px;
                line-height: 30px;
            }
            .text{
                font-size: 17px;
                line-height: 21px;
                margin-bottom: 10px;
            }
        }
        .top-image{
            min-width: 0;
            width: 100%;
            height: auto;
        }
    }
}